body {
  max-width: 100%;
  max-height: 100%;
	overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
}

.spacetimeview {
  max-width: 100%;
  max-height: 100%;
	overflow: hidden;
}

/* Fix up the maplibre attribution, as it seems it is broken when used with deckgl */
.maplibregl-control-container {
	position: fixed;
	bottom: 2px;
	right: 2px;
	z-index: 9999;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 12px;
	pointer-events: none;
}

.maplibregl-ctrl-attrib-button {
	display: none;
}

div[mapboxgl-children] {
  display: none;
}

.leva-c-kWgxhW {
  width: 350px;
}

@media (max-width: 768px) {
  .leva-c-kWgxhW {
    width: 95%;
  }

  .colorbar {
    bottom: 110px !important;
    left: 10px !important;
  }
}

